body {
  margin: 0;
}

a {
  color: black;
}

div.header {
  display: flex;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: white;
  top: 0;
}

div.navbar {
  justify-content: flex-end;
}

.navbar, .logo {
  display: inline-flex;
  font-family: Verdana;
  font-style: 14px;
  font-weight: bold;
  align-items: center;
  flex-grow: 1;
}

div.navbar span {
  margin: 10px;
}

div.spacing {
  margin-right: 40px;
}

.logo img {
  margin: 10px 0 10px 25px;
}

.logo p {
  color: MediumAquamarine;
  margin-left: 10px;
}

.main-content {
  display: flex;
  padding-top: 116px;
  width: 1232px;
  margin: 0 auto 72px auto;
}

.image-div {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.image-div span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.large {
  width: 630px;
  margin-right: 32px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.medium {
  width: 300px;
  margin-right: 32px;
}

.small {
  width: 240px;
}

.large, .medium, .small {
  display: flex;
  flex-direction: column;
}

.story {
  width: 300px;
  flex-direction: column;
}

.story .with-headline {
  height: 250px;
}

.centered-header {
  margin-bottom: 41px;
}

.news span {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  width: 200px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.news {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.news h3 {
  font-size: 16px;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 325px;
  margin: auto;
  background-color: MediumAquamarine;
}

footer span {
  display: inline-block;
  padding: 0px 20px;
}

#mother span {
  font-size: 40px;
  text-align: left;
  margin-left: 20px;
}

#mother {
  background-image: url(../images/mainStory.png);
  width: 630px;
}

#earth {
  background-image: url(../images/fallSeason.png);
}

#research {
  background-image: url(../images/hipster.png);
}

#cats {
  background-image: url(../images/cat.png);
}

#mytimes-footer-logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}
